
<!DOCTYPE html>
<div class="page">
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8 card blog-card">
                <div class="card-body">
                    <h3 class="card-title">Cat and Dog Nutrition</h3>

                    <img class="card-img-top img-fluid" src="https://cdn.mos.cms.futurecdn.net/rAoAwRRR9EGXsKNqXB4a93.jpg" alt="">

                    <!-- Post info-->
                    <div class="post-info border-irregular2 text-muted">
                        Published on January 12 2022 by
                        <a>Lila Smith</a>
                    </div>
                    
                    <!-- Post Content -->
                    <p> Your pet may love to eat food fresh from your plate. But just because they like it doesn’t mean it’s good for them.</p>

                    <p>
                        Those table scraps could lead to extra pounds on your pet.
                        More than half of all dogs and cats in the U.S. are overweight or obese.
                    </p>
                    <p> Cats and dogs have calorie needs that vary. For example:</p>
                    <ul>

                        <li>
                            A 10-pound cat needs only 200 calories a day.
                        </li>
                        <li> A 50-pound dog needs 700 to 900 calories.</li>
                        <li>  Larger dogs may eat up to 1,350 calories.</li>
                    </ul>

                    <p>  A balanced diet needs the following things to help keep your pet well.</p>

                    <h4>Protein</h4>
                    <p>
                        Dogs tend to prefer foods high in protein. And cats are descended from hunters, so they’re natural carnivores.
                        Protein is important for cell growth, muscle repair, and general body maintenance.
                        Animal-based proteins have all the essential amino acids pets need, including:
                    </p>

                    <ul>
                        <li>Arginine</li>
                        <li>Methionine</li>
                        <li>Histidine</li>
                        <li>Phenylalanine</li>
                        <li>Isoleucine</li>
                        <li>Threonine</li>
                        <li>Leucine</li>
                        <li>Tryptophan</li>
                        <li>Lysine</li>
                        <li>Valine</li>
                        <li>Taurine</li>
                    </ul>
                  

                    Taurine is key for cats. They need it for their vision, hearts, and to be able to reproduce. Taurine is found only in animal-based proteins. A cat’s digestive system breaks down animal-based proteins and absorbs nutrients from them.
                    <p></p>

                    <h4>Fats and Energy</h4>
                    <p>
                        Dietary fats come from animal fats or the oils of a plant seed. They’re the biggest source of energy in your pet’s diet. Per gram, fats have more than twice as much energy as protein or carbohydrates.

                        They provide essential fatty acids, which a dog or cat’s body does not make on its own. Fatty acids, such as omega-3s, are needed to:
                    </p>
                    <ul>
                        <li>Keep skin and fur healthy</li>
                        <li>Produce some types of hormones</li>
                        <li>Absorb vitamins</li>
                        <li>Insulate the body</li>
                        <li>Protect organs</li>
                    </ul>
                    
                    <p>Plus, fats make your pet’s food even tastier (to them, at least).</p>

                    <h4>Carbohydrates</h4>

                  
                    <p>
                        Carbohydrates deliver energy, help maintain digestive health, and affect reproduction. Fiber is a type of carbohydrate that affects the bacteria in your pet’s intestine.

                        For your pet to get the biggest benefit from fiber, the fiber should be fermentable. Fermentable fiber can be found in wheat, rice, or vegetables.

                        High-fiber foods aren’t good for young cats and dogs that are still growing. Their energy needs are high, so their diet should have more fat and protein.
                    </p>


                </div>
                <!--/Card-body -->
            </div>
        </div>
    </div>
</div>