
<!DOCTYPE html>
<div class="page">
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8 card blog-card">
                <div class="card-body">
                    <h3 class="card-title">Cat Health</h3>

                    <img class="card-img-top img-fluid" src="https://www.sydneyvetspecialists.com.au/wp-content/uploads/2018/11/the-abcs-of-great-cat-health.jpg" alt="">

                    <!-- Post info-->
                    <div class="post-info border-irregular2 text-muted">
                        Published on January 12 2022 by
                        <a>Lila Smith</a>
                    </div>

                    <!-- Post Content -->
                    <p>
                        The health of domestic cats is a well studied area in veterinary medicine.

                        Topics include infectious and genetic diseases, diet and nutrition and non-therapeutic surgical procedures such as neutering and declawing.
                    </p>
                    <h4>Diseases</h4>
                   
                    <h4>Infectious diseases</h4>
                    <p>An infectious disease is caused by the presence of pathogenic organisms such as viruses, bacteria, fungi, or parasites (either animalian or protozoan). Most of these diseases can spread from cat to cat via airborne pathogens or through direct or indirect contact, while others require a vector such as a tick or mosquito. Certain infectious diseases are a concern from a public health standpoint because they are a Feline zoonosis and transmittable to human.</p>
                    
                    <h4>Fungal diseases</h4>
                    <ul>
                        <li><a href="https://en.wikipedia.org/wiki/Dermatophytosis">Ringworm</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Cryptococcus">Cryptococcus</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Malassezia_pachydermatis">Malassezia pachydermatis</a></li>


                    </ul>
                    <h4>Parasites</h4>
                    <p>Veterinary parasitology studies both external and internal parasites in animals. External parasites, such as fleas, mites, ticks and mosquitoes can cause skin irritation, and are also often carriers of other diseases or of internal parasites.</p>
                    <h4>Genetic Diseases</h4>
                    <p>Domestic cats are affected by over 250 naturally occurring hereditary disorders, many of which are similar to those in humans, such as diabetes, hemophilia and Tay–Sachs disease.For example, Abyssinian cat's pedigree contains a genetic mutation that causes retinitis pigmentosa, which also affects humans.</p>
                </div>
                <!--/Card-body -->
            </div>
        </div>
    </div>
</div>