
<!DOCTYPE html>
<div class="page">
    <div class="container">
        <div class="row">
            <!-- Post Content Column -->
            <div class="col-lg-8 card blog-card">
                <div class="card-body">
                    <h3 class="card-title">Dog Health</h3>

                    <img class="card-img-top img-fluid" src="http://1.bp.blogspot.com/-xSY0yI8A8sg/UUETz0TaNYI/AAAAAAAAAe8/BkoGdnTe7XA/s1600/Good+Dog+Health+Information,+pets,+pet,+dogs,.PNG" alt="">

                    <!-- Post info-->
                    <div class="post-info border-irregular2 text-muted">
                        Published on January 12 2022 by
                        <a>Lila Smith</a>
                    </div>

                    <!-- Post Content -->
                    <p>The health of dogs is a well studied area in veterinary medicine.

                        Dog health is viewed holistically; it encompasses many different aspects, including disease processes, genetics, and nutritional health, for example. Infectious diseases that affect dogs are important not only from a veterinary standpoint, but also because of the risk to public health; an example of this is rabies. Genetic disorders also affect dogs, often due to selective breeding to produce individual dog breeds. Due to the popularity of both commercial and homemade dog foods, nutrition is also a heavily studied subject.</p>
                    <h4>Diseases</h4>
                    <p>Some diseases and other health problems are common to both humans and dogs; others are unique to dogs and other animals. Dogs are susceptible to various diseases; similarly to humans, they can have diabetes, epilepsy, cancer, or arthritis.

                        Timely vaccination can reduce the risk and severity of an infection. The most commonly recommended viruses to vaccinate dogs against are:</p>
                    <ul>
                        Click for more information!
                        <li> <a href="https://en.wikipedia.org/wiki/Rabies_in_animals">Rabies</a></li>
                        <li> <a href="https://en.wikipedia.org/wiki/Canine_distemper">CDV (canine distemper)</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Infectious_canine_hepatitis">CAV-2 (canine hepatitis virus or adenovirus-2)</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Canid_alphaherpesvirus_1">Canine herpesvirus</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Canine_influenza">Canine influenza</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Canine_parvovirus">CPV-2 (canine parvovirus)</a></li>
                        <li><a href="https://en.wikipedia.org/wiki/Kennel_cough">Kennel cough</a></li>
                        <li><a  href="https://en.wikipedia.org/wiki/Leptospirosis">Leptospirosis</a></li>
                        <li><a  href="https://en.wikipedia.org/wiki/Lyme_disease">Lyme disease</a></li>

                    </ul>
                    <h4>Infectious diseases</h4>
                    <p>An infectious disease is caused by the presence of organisms such as viruses, bacteria, fungi, or parasites (either animalian or protozoan). Most of these diseases are spread directly from dog to dog, while others require a vector such as a tick or mosquito. Certain infectious diseases are a concern from a public health standpoint because they are zoonoses (transmittable to humans)</p>
                    <h4>Bacterial diseases</h4>
                    <p>
                        Bacterial diseases in dogs are usually not contagious from dog to dog; instead they are usually the result of wound colonization, opportunistic infections secondary to decreased resistance (often the result of viral infections), or secondary to other conditions (pyoderma secondary to skin allergies or pyometra secondary to cystic endometrial hyperplasia). These examples are not considered infectious diseases because they do not satisfy Koch's postulates – for example Staphylococcus intermedius, a commonly isolated bacteria from skin infections in dogs, would not cause pyoderma when introduced to a healthy dog. In all likelihood that type of bacteria is already present on the skin of a healthy dog.

                        There are some bacteria that are contagious from dog to dog. The most notable of these are Bordetella bronchiseptica, one of the causes of kennel cough, Leptospira sp, which cause leptospirosis, and Brucella canis, cause of brucellosis in dogs. There are also common tick-borne bacterial diseases, including Lyme disease, ehrlichiosis, and Rocky Mountain spotted fever.

                        Leptospirosis is a zoonotic disease caused by bacteria of the genus Leptospira. Humans and dogs become infected through contact with water, food, or soil containing urine from infected animals. This may happen by swallowing contaminated food or water or through skin contact, especially with mucosal surfaces, such as the eyes or nose, or with broken skin. In dogs, transmission most commonly occurs by drinking puddle, pond, or ditch water contaminated by urine from infected wildlife such as squirrels or raccoons. The liver and kidney are most commonly damaged by leptospirosis. Vasculitis can occur, causing edema and potentially disseminated intravascular coagulation (DIC). Myocarditis, pericarditis, meningitis, and uveitis are also possible sequelae.
                        
                        Brucellosis in dogs is caused by Brucella canis. It is a sexually transmitted disease, but can also be spread through contact with aborted fetuses. The most common sign is abortion during the last trimester or stillbirth. Other symptoms include inflammation of the intervertebral disc and eye (uveitis), and inflammation of the testicle (orchitis) and prostate (prostatitis) in males.

                        Tick-borne diseases are common in dogs. Lyme disease, or borreliosis, is caused by Borrelia burgdorferi and spread by Ixodes pacificus on the West coast of the United States and by I. scapularis (deer tick) in the rest of the U.S. Signs and symptoms include fever, joint swelling and pain, lameness, and swelling of the lymph nodes. It has been diagnosed in dogs in all 48 states of the continental U.S.[7] Ehrlichia canis, which causes canine ehrlichiosis, and Rickettsia rickettsii, which causes Rocky Mountain spotted fever, are both spread by the American dog tick, Dermacentor variabilis, and the brown dog tick, Rhipicephalus sanguineous.[
                    </p>
                    <h4>Fungal diseases</h4>
                    <p>
                        One of the most common fungal diseases in dogs is ringworm, or dermatophytosis, an infection of the skin, hair, or nails. There are three fungal species that cause ringworm in dogs. About 70 percent of infections are caused by Microsporum canis, 20 percent by M. gypseum, and 10 percent by Trichophyton mentagrophytes. Signs include hair loss and scaling of the skin. Treatment for localized ringworm is not always necessary as the disease is self-limiting, but the clinical course can be shortened by using topical miconazole or clotrimazole. Generalized infections, most commonly seen in immunocompromised dogs, can be treated with oral antifungal drugs such as griseofulvin or itraconazole. Infection can spread to humans.

                        There are several fungal diseases that are systemic in nature, meaning they are affecting multiple body systems. Blastomycosis, caused by Blastomyces dermatitidis, is a fungal disease that affects both dogs and humans. It is transmitted through the inhalation of fungal spores. It is found mainly in the United States in the Mississippi River and Great Lakes areas. It has also been reported in four Canadian provinces; Saskatchewan, Manitoba, Ontario and Quebec. Signs include weight loss, cough, fever, enlarged lymph nodes, draining skin lesions, eye inflammation with discharge, blindness, and lameness. Because dogs are ten times more likely to become infected from the environment than humans, they are considered to be sentinels for the disease. Treatment requires a minimum 60–90-day course of oral antifungal medication or in severe cases intravenous antifungal injections.

                        Histoplasmosis, caused by Histoplasma capsulatum, is a disease with a worldwide distribution. In the United States it is mainly found in the Mississippi and Ohio River areas, most commonly in bird and bat feces. Signs include weight loss, cough, fever, enlarged lymph nodes, and gastrointestinal symptoms.[11] Coccidioidomycosis, caused by Coccidioides immitis, is found in arid and semi-arid regions of Central and South America, Mexico, and southwestern United States. Signs include weight loss, fever, cough, enlarged lymph nodes, and lameness.
                    </p>
                    <h4>Genetic diseases</h4>
                    <p>Genetic conditions are a problem in some dogs, particularly purebreeds. For this reason many of the national kennel clubs require that dogs with certain genetic illnesses or who are deemed to be carriers cannot be registered. Some of the most common conditions include hip dysplasia, seen in large breed dogs, von Willebrand disease, a disease that affects platelets that is inherited in Doberman Pinschers, entropion, a curling in of the eyelid seen in Shar Peis and many other breeds, progressive retinal atrophy, inherited in many breeds, deafness, and epilepsy, known to be inherited in Belgian Shepherd Dogs, German Shepherd Dogs, Cocker Spaniels, and St. Bernards. Subaortic stenosis, or SAS, is a genetic ailment that causes a narrowing of the passage of blood between the heart and the aorta. This leads to heart problems and sometimes sudden death. It affects larger breeds such as the Newfoundland dog and the Golden Retriever.[17] In some dogs, such as collies, the blue merle or harlequin coloring is actually the heterozygote of a partially recessive gene preventing proper development of the nervous system; therefore, if two such dogs are mated, on the average one quarter of the puppies will have severe genetic defects in their nervous systems and sensory organs ranging from deafness to fatal flaws.</p>
                    <h4>Skin diseases</h4>
                    <p>Skin diseases are very common in dogs. Atopy, a chronic allergic condition, is thought to affect up to 10 percent of dogs. Other skin diseases related to allergies include hot spots and pyoderma, both characterized by secondary bacterial infections, food allergy, ear infections, and flea allergy dermatitis. Canine follicular dysplasia is an inherited disorder of the hair follicles resulting in alopecia (baldness). Mange is an infectious skin disease caused by mites. Endocrine diseases such as hypothyroidism and Cushing's syndrome can also manifest as skin problems like alopecia or recurring bacterial infections. Another class of integumentary malady is hygromas, a swelling typically on or near the elbow joint. Nutrition may also play a role in skin disease, as deficiencies in certain nutrients may result in scaling, redness, oiling, balding, and/or itching of the skin.
                        Physical elements of certain dog breeds also affect susceptibility of individuals to skin problems, such as wrinkled skin or excessive skin folds. For instance, skin-fold dermatitis is a skin infection more prevalent in breeds such as the bulldog, cocker spaniel, and English Springer spaniel.</p>
                    <h4>Orthopedic diseases</h4>
                    <p>Orthopedic diseases in dogs can be developmental, hereditary, traumatic, or degenerative. Because of the active nature of dogs, injuries happen frequently. One of the most common of these is an anterior cruciate ligament injury, a condition which often requires surgery. Bone fractures are a frequent occurrence in outdoor dogs due to trauma from being hit by cars. Degenerative joint disease is common in older dogs and is one of the most likely reasons for prescription of non-steroidal anti-inflammatory drugs.

                        Hereditary orthopedic diseases are mainly found in purebred dogs. Hip dysplasia is a common problem that primarily affects larger breeds. Hip dysplasia is a defect in the shape of the hip joint which can, depending on the degree of hip luxation, be quite painful to the dog as it ages. Over time it often causes arthritis in the hips. Dysplasia can also occur in the elbow joint. Luxating patellas can be a problem for smaller breeds. It can cause lameness and pain in the hind legs.

                        Developmental orthopedic diseases include panosteitis and hypertrophic osteodystrophy. Panosteitis occurs in large and giant breed dogs usually between the age of five and fourteen months and manifests as fever, pain, and shifting leg lameness. Hypertrophic osteodystrophy is also seen in young large and giant breed dogs and is characterized by pain, lameness, fever, and swelling of the long bone metaphysis.</p>
                    </div>
                <!--/Card-body -->
            </div>
        </div>
    </div>
</div>