@model AddEventFormModel

<!doctype html>
<html lang="en" data-framework="javascript">

<head>
    <meta charset="utf-8">
    <title>Calendar App</title>

    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/css/iziToast.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">*@
    <link rel="stylesheet" href="~/css/calendar.css">
    @*<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>*@

</head>

<body>
    <br><br>
    <div class="container">
  
        <div class="row">
            <div class="calendar col-md-8 offset-md-2">
                <div>
                    <div class="card-header bg-primary" style="margin-top:100px">
                        <ul>
                            <li id="month" class="text-white text-uppercase text-center">
                            </li>
                            <li id="year" class="text-white text-uppercase text-center">
                            </li>
                        </ul>
                    </div>
                    <table class="table calendar table-bordered table-responsive-sm" id="calendar">
                        <thead>
                            <tr class="weekdays bg-dark">
                                <th scope="col" class="text-white text-center">Mo</th>
                                <th scope="col" class="text-white text-center">Tu</th>
                                <th scope="col" class="text-white text-center">We</th>
                                <th scope="col" class="text-white text-center">Th</th>
                                <th scope="col" class="text-white text-center">Fr</th>
                                <th scope="col" class="text-white text-center">Sa</th>
                                <th scope="col" class="text-white text-center">Su</th>
                            </tr>
                        </thead>
                        <tbody class="days bg-light" id="days"></tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
        </div>

        <br><hr>

        <div class="row">
            <div class="col offset-md-1">
                <form id="form_create_appointment" asp-controller="Appointment" asp-action="Add" > 
                    <div class="form-row">
                        <div class="col form-group">
                            <label class="required">Date</label>
                            <input class="form-control date-input" type="text" id="date" asp-for="Date" data-trigger="hover" data-toggle="popover" title="Date" data-content="You can select any date from today clicking on the number in the calendar" required>
                            <span asp-validation-for="Date" class="small text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label>Description</label>
                            <input class="form-control" type="text" asp-for="Description" id="description">
                            <span asp-validation-for="Description" class="small text-danger"></span>
                        </div>
                        <div class="col form-group">
                            <label>Phone Number</label>
                            <input class="form-control" type="text" asp-for="PhoneNumber" id="phone_number">
                            <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
                        </div>
                      
                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <label>Full name</label>
                            <input class="form-control" type="text" asp-for="FullName" id="full_Name">
                            <span asp-validation-for="FullName" class="small text-danger"></span>
                        </div>

                        <div class="col form-group">
                            <label class="required">Start Time</label>
                            <input class="form-control time-input" type="number" id="start_time" min="10" max="18" asp-for="StartHour" required>
                            @if (TempData["someWarning"] != null)
                            {
                                
                        <div class="alert alert-warning" role="alert">
                            @TempData["someWarning"]
                        </div>
                            }
                        </div>
                      

                    </div>
                    <div class="form-row">
                        <div class="col form-group">
                            <button type="button" class="btn btn-warning btn-block" id="clear" onclick="clear_input()">Clear Form</button>
                        </div>
                        <div class="col form-group">
                            <button type="submit" class="btn btn-primary btn-block">Make Appointment</button>
                        </div>


                    </div>
                </form>
            </div>
           
        </div>
        <br><br><br>
   
    </div>



    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.inputmask/3.3.4/jquery.inputmask.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/izitoast/1.4.0/js/iziToast.min.js"></script>
    <script src="~/js/calendar.js"></script>

</body>

</html>