<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- page title -->
    <title>Woof!</title>
    <!--[if lt IE 9]>
    <script src="js/respond.js"></script>
    <![endif]-->
    <!-- Font files -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700%7CQuicksand:400,500,700" rel="stylesheet">
    <link href="fonts/flaticon/flaticon.css" rel="stylesheet" type="text/css">
    <link href="fonts/fontawesome/fontawesome-all.min.css" rel="stylesheet" type="text/css">
    <!-- Fav icons -->
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- style CSS -->
    <link href="css/style.css" rel="stylesheet">
    <!-- plugins CSS -->
    <link href="css/plugins.css" rel="stylesheet">
    <!-- Colors CSS -->
    <link href="styles/maincolors.css" rel="stylesheet">
</head>
<!-- ==== body starts ==== -->
<body id="top">
   
    <!-- Jumbotron -->
    <div class="jumbotron jumbotron-fluid overlay">
        <div class="jumbo-heading">
            <!-- section-heading -->
            <div class="section-heading" data-aos="zoom-in">
                <h1>About Us</h1>
            </div>
            <!-- /section-heading -->
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">About us</li>
                </ol>
            </nav>
        </div>
        <!-- /jumbo-heading -->
    </div>
    <!-- /jumbotron -->
    <!-- ==== Page Content ==== -->
    <div class="page">
        <div class="container block-padding pt-0">
            <div class="row">
                <div class="col-lg-5">
                    <img src="~/img/aboutUsCat.jpg" alt="" class="img-fluid border-irregular2" data-aos="zoom-in">
                </div>
                <!--/col-lg-->
                <div class="col-lg-7 res-margin">
                    <h3>Your pet deserve the best</h3>
                    <p>Animals deserve better than that. Every animal, no matter their size, shape, or level of cuteness, deserves respect and kindness. No animal deserves to be tossed into the streets, forced to be alone and to compete with wild animals for food. No animal deserves to be tested on and not given a choice.</p>
                </div>
                <!-- /col-lg -->
            </div>
            <!-- /row -->
            <div class="row mt-5">
                <div class="col-lg-7">
                    <h4>We help to Improve their life quality</h4>
                    <p>Despite the best intentions and selfless efforts of numerous dedicated individuals working for animal shelters, there are many animal welfare issues associated with the care and management of this population that must be addressed by the veterinary profession and society. One of the most significant issues is adequacy of facility staffing. This is typically driven by an insufficient level of funding support and an ethical conundrum that may prioritize providing any kind of life for a stray animal (that may be housed in a facility for weeks to months) over quality of life. The rule of thumb for staffing projections for municipally run animal shelters or pounds is to allot an average of 15 minutes per animal per day — 6 minutes for feeding and 9 minutes for cleaning (9). While this may be the minimum required for basic maintenance of healthy animals, this does not take into account time required for medical treatments or therapy, provision of enrichment and animal socialization, temperament evaluation, or provision of exercise outside the cage or kennel. These are all factors that may be very important in the success of rehoming of a stray animal and enhancing that animal’s quality of life. If there are insufficient personnel working in a facility, this additional time expenditure on animals may be perceived as a luxury and not offered routinely or consistently.</p>
                   
                    <!-- /ul -->
                </div>
                <!-- /col-lg-->
                <div class="col-lg-5 res-margin">
                    <div id="accordion" class="accordion-cards">
                        <!-- card 1-->
                        <div class="card">
                            <div class="card-header" id="headingOne" role="tablist" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <h6 class="mb-0">
                                    Our philosophy
                                </h6>
                            </div>
                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    <p>
                                        We are committed to giving every adoptable animal “as long as it takes” in order to find the new home that they deserve!!!
                                    </p>
                                </div>
                            </div>
                        </div>
                     
                    </div>
                    <!-- /acordion -->
                </div>
                <!-- /col-lg -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
        <div id="call-to-action">
           
            <!--/row -->
        </div>
        <!--/call-to-action -->
        <div class="container bottom-block-padding">
            <div class="bg-light-custom card">
                <div class="row">
                    <div class="col-xl-6">
                        <h4>Caring for your pets since 2001</h4>
                        <p>Aliquam erat volutpat In id fermentum augue, ut pellentesque leo. Maecenas at arcu risus. Donec commodo sodales ex, scelerisque laoreet nibh hendrerit id. In aliquet magna nec lobortis maximus. Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall.</p>
                        <p>Etiam rhoncus leo a dolor placerat, nec elementum ipsum convall Maecenas at arcu risus scelerisque laoree.</p>
                        <ul class="custom pl-0">
                            <li>Orci eget, viverra elit liquam erat volut pat phas ellus ac</li>
                            <li>Ipuset phas ellus ac sodales Lorem ipsum dolor Phas ell</li>
                            <li>Aliquam erat volut pat phas ellu</li>
                        </ul>
                        <!-- /ul -->
                    </div>
                    <!-- /col-md -->
                    <div class="col-xl-6">
                        <!-- embed video -->
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/lWQaaZkqND4" allowfullscreen></iframe>
                        </div>
                    </div>
                    <!-- /col-md -->
                </div>
                <!-- /row -->
            </div>
            <!-- /card -->
        </div>
        <!-- /container -->
    </div>
   
    <!-- Bootstrap core & Jquery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Custom Js -->
    <script src="js/custom.js"></script>
    <script src="js/plugins.js"></script>
    <!-- Mailchimp script -->
    <script src="js/mailchimp.js"></script>
    <!-- Prefix free -->
    <script src="js/prefixfree.min.js"></script>
</body>
</html>