@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">

<body class="page1">

    <div class="top_block">
        <div class="slider-relative">
            <div class="slider-block">
                <div class="slider">
                    <ul class="items">
                        <li>
                            <img src="~/images/slide.jpg" alt="">
                            <div class="banner" >
                                They Need Your <span>Love</span> and <i>Care</i>
                                <p>It is so easy to make them happy</p>
                            </div>
                        </li>
                        <li>
                            <img src="~/images/slide1.jpg" alt="">
                            <div class="banner">
                                They Need Your <span>Love</span> and <i>Care</i>
                                <p>It is so easy to make them happy</p>
                            </div>
                        </li>
                        <li>
                            <img src="~/images/slide2.jpg" alt="">
                            <div class="banner">
                                They Need Your <span>Love</span> and <i>Care</i>
                                <p>It is so easy to make them happy</p>
                            </div>
                        </li>
                        <li>
                            <img src="~/images/slide3.jpg" alt="">
                            <div class="banner">
                                They Need Your <span>Love</span> and <i>Care</i>
                                <p>It is so easy to make them happy</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="page1_block">
        <div class="container_12">
            <div class="grid_6">
                <h2>Welcome to Our Site</h2>
                <br>
                <img src="images/Webp.net-resizeimage.jpg" alt="" class="img_inner fleft" style="margin-top: 15px">
                <div class="extra_wrapper style1">
                    <p class="text1"> </p>

                    Helping vulnerable animals and keeping pets in safe and loving homes requires a commitment from all of us—advocates, pet owners, shelters, leaders, and entire communities everything is possible.
                </div>
                <div class="clear"></div>
                Our organization was founded on the belief that animals are entitled to kind and respectful treatment at the hands of humans and must be protected under the law. Headquartered in New York City, the ASPCA maintains a strong local presence, and with programs that extend our anti-cruelty mission across the country, we are recognized as a national animal welfare organization. We are a privately funded 501(c)(3) not-for-profit corporation, and are proud to boast more than 2 million supporters across the country.
                
            </div>
         
        </div>
    </div>
    
</body>
</html>