
<body>
 <!-- /nav --><!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid overlay">
    <div class="jumbo-heading">
        <!-- section-heading -->
        <div class="section-heading" data-aos="zoom-in">
            <h1>Contact Us</h1>
        </div>
        <!-- /section-heading -->
        <!-- Breadcrumbs -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact Us 2</li>
            </ol>
        </nav>
    </div>
    <!-- /jumbo-heading -->
</div>
<!-- /jumbotron -->
<!-- ==== Page Content ==== -->
<div class="page">
    <div class="container">
        
        <!-- /row-->
        <div class="row res-margin mt-5">
            <div class="col-lg-6 mt-5">
                <div class="contact-icon">
                    <!---icon-->
                    <i class="fa fa-envelope top-icon"></i>
                    <!-- contact-icon info-->
                    <div class="contact-icon-info">
                        <h5>Send us a Message</h5>
                        <p class="h7"><a href="mailto:email@yoursite.com">animal-adoption@abv.bg</a></p>
                    </div>
                </div>
            </div>
            <!-- /contact-icon-->
            <div class="col-lg-6 mt-5">
                <div class="contact-icon">
                    <!---icon-->
                    <i class="fa fa-map-marker top-icon"></i>
                    <!-- contact-icon info-->
                    <div class="contact-icon-info">
                        <h5>Visit our Location</h5>
                        <p class="h7">President Lincoln Blvd, Sofia, Bulgaria </p>
                    </div>
                </div>
            </div>
            <!-- /contact-icon-->
            <div class="col-lg-6 mt-5">
                <div class="contact-icon">
                    <!---icon-->
                    <i class="fa fa-phone top-icon"></i>
                    <!-- contact-icon info-->
                    <div class="contact-icon-info">
                        <h5>Call us today</h5>
                        <p class="h7">088789865</p>
                    </div>
                </div>
            </div>
          
            <!-- /contact-icon-->
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>

<!-- Bootstrap core & Jquery -->
<script src="~/vendor/jquery/jquery.min.js"></script>
<script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
<!-- Custom Js -->
<script src="~/js/custom.js"></script>
<script src="~/js/plugins.js"></script>
<!-- maps -->
<script src="~/js/map.js"></script>
<!-- Contact Form script -->
<script src="~/js/contact.js"></script>
<!-- Prefix free -->
<script src="~/js/prefixfree.min.js"></script>
</body>
