@model AdoptionInterviewFormModel
 
<!DOCTYPE html>
<html>
<head>
    <style>
        label {
            font-family: "American Typewriter, serif";
            font-size: 20px;
            color: black;
        }

        p {
            font-family: "American Typewriter, serif";
            font-size: 20px;
            color: black;
        }

        input {
            width: 400px;
            margin-top: 10px
        }

        .inputAdopton {
            height: 40px;
        }

        textarea {
            margin-top: 10px
        }
    </style>
</head>
@*style="text-align: center; width: 50%; margin-left: 350px;"*@
<body style="background-color: white;">

    <h2 style="text-align:center; width:100%; margin-top: 100px ">Dog adoption interview</h2>

    <form method="post" class="mx-auto w-50" style="text-align: center">
        <div class="d-flex justify-content-start">
            <label>Please state your full name!</label>

        </div>
        <input class="form-control" asp-for="Name" type="text">
        <span asp-validation-for="Name" class="small text-danger"></span>
        
        <div class="d-flex justify-content-start">
            <label>Give us some information about your home:</label>

        </div>
        <textarea class="form-control" asp-for="HomeInformation" rows="15" type="text"></textarea>
        <span asp-validation-for="HomeInformation" class="small text-danger"></span>
        
        <div class="d-flex justify-content-start">

            <label> Do you own your home? </label>
        </div>
        <select asp-for="OwnHome">

            <option value="true">Yes</option>
            <option value="false">No</option>
        </select>
        <div class="d-flex justify-content-start">

            <label>How long the dog will be left alone each day?</label>

        </div>
        <input class="form-control" asp-for="HoursAlone" type="text">
        <span asp-validation-for="HoursAlone" class="small text-danger"></span>
        
        <div class="d-flex justify-content-start">

            <label>Does anyone in your family have any allergies.</label>

        </div>
        <input class="form-control" asp-for="AllergiesInFamily" type="text">
        <span asp-validation-for="AllergiesInFamily" class="small text-danger"></span>
        
        <div class="d-flex justify-content-start">
            <label>A detailed explanation of why you want the particular breed you do.</label>

        </div>
        <textarea class="form-control" asp-for="BreedExplanation" rows="15" type="text"></textarea>
        <span asp-validation-for="BreedExplanation" class="small text-danger"></span>
        
        <div class="d-flex justify-content-start">

            <label>What kind of enclosure you’ll use, if any (such as a dog crate, birdcage, or critter cage)?</label>

        </div>
        <input class="form-control" asp-for="Enclosure" type="text">
        <span asp-validation-for="Enclosure" class="small text-danger"></span>
        
        <div class="d-flex justify-content-start">
            <label>
                How much you know about basic veterinary care, pest control management, or conditions common to the breed?
            </label><br>
            
        </div>
        <input class="form-control" asp-for="VetKnowledge" type="text">
        <span asp-validation-for="VetKnowledge" class="small text-danger"></span>


        <div class="d-flex justify-content-center">
            <button class="btn btn-primary btn-sm">Submit</button>
        </div>
    </form>


</body>
</html>
