@model AdoptionInterviewFormModel
 
<!DOCTYPE html>
<html>
<head>
    <style>
        label {
            font-family: "American Typewriter, serif";
            font-size: 20px;
            color: black;
         
        }
        p {
            font-family: "American Typewriter, serif";
            font-size: 20px;
            color: black;
        }

        input{
            width: 400px;
            margin-top: 10px
            
        }

        .inputAdopton{
            height: 40px;
            
            
        }

        textarea{
            margin-top: 10px
        }
    </style>
</head>
<body style="background-color:white">

    <h2 style="text-align:center; width:100%; margin-top: 100px ">Dog adoption interview</h2>

    <form method="post" style="text-align:center">
        <label >Please state your full name!</label><br>
        <input asp-for="Name" type="text"><br><br>

        <label >Give us some information about your home:</label><br>
        <textarea asp-for="HomeInformation" rows="15" class="inputAdopton" type="text"></textarea><br />

        <label asp-for="OwnHome">
            Do you own your home?
            <select>

                <option value="true">Yes</option>
                <option value="false">No</option>
            </select>
        </label><br />


        <label >How long the dog will be left alone each day?</label><br>
        <input asp-for="HoursAlone" type="text"><br><br>

        <label >Does anyone in your family have any allergies.</label><br>
        <input asp-for="AllergiesInFamily" type="text" ><br><br>

        <label >A detailed explanation of why you want the particular breed you do.</label><br>
        <textarea asp-for="BreedExplanation" rows="15" class="inputAdopton" type="text" ></textarea><br />

        <label >What kind of enclosure you’ll use, if any (such as a dog crate, birdcage, or critter cage)?</label><br>
        <input asp-for="Enclosure" type="text" ><br><br>

        <label >
            How much you know about basic veterinary care, pest control management, or conditions common to the breed?
        </label><br>
        <input asp-for="VetKnowledge" type="text"><br><br>



        <div class="d-flex justify-content-center">
            <button class="nk-btn nk-btn-rounded nk-btn-color-main-1">Submit</button>
        </div>
    </form>

    
</body>
</html>
