<!DOCTYPE html>
<html>
<head>
    <style>
        label {
            font-family: "American Typewriter, serif";
            font-size: 20px;
            color: black;
         
        }
        p {
            font-family: "American Typewriter, serif";
            font-size: 20px;
            color: black;
        }

        input{
            width: 400px;
            margin-top: 10px
            
        }

        .inputAdopton{
            height: 40px;
            
            
        }

        textarea{
            margin-top: 10px
        }
    </style>
</head>
<body style="background-color:white">

    <h2 style="text-align:center; width:100%; ">Dog adoption interview</h2>

    <form action="/action_page.php" style="text-align:center">
        <label for="fname">Please state your full name!</label><br>
        <input type="text" id="fname" name="fname" ><br><br>

        <label for="lname">Give us some information about your home:</label><br>
        <textarea rows="15" class="inputAdopton" type="text" id="lname" name="lname" ></textarea><br />

        <label for="lname">Do you own your home?</label><br>
        <input type="text" id="fname" name="fname"><br><br>


        <label for="lname">How long the dog will be left alone each day?</label><br>
        <input type="text" id="lname" name="lname" ><br><br>

        <label for="lname">Does anyone in your family have any allergies.</label><br>
        <input type="text" id="lname" name="lname" ><br><br>

        <label for="lname">A detailed explanation of why you want the particular breed you do.</label><br>
        <textarea rows="15" class="inputAdopton" type="text" id="lname" name="lname" ></textarea><br />

        <label for="lname">What kind of enclosure you’ll use, if any (such as a dog crate, birdcage, or critter cage)?</label><br>
        <input type="text" id="lname" name="lname" ><br><br>

        <label for="lname">
            How much you know about basic veterinary care, pest control management, or conditions common to the breed?
        </label><br>
        <input type="text" id="lname" name="lname"><br><br>



        <input type="submit" value="Submit">
    </form>

    
</body>
</html>
