<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <meta charset="utf-8">
    <link rel="icon" href="~/images/favicon.ico">
    <link rel="shortcut icon" href="~/images/favicon.ico">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/slider.css">
    <script src="~/js/jquery.js"></script>
    <script src="~/js/jquery-migrate-1.1.1.js"></script>
    <script src="~/js/superfish.js"></script>
    <script src="~/js/jquery.carouFredSel-6.1.0-packed.js"></script>
    <script src="~/js/jquery.equalheights.js"></script>
    <script src="~/js/jquery.easing.1.3.js"></script>
    <script src="~/js/tms-0.4.1.js"></script>
    <script src="~/js/jquery.ui.totop.js"></script>



    <script>
        $(window).load(function () {
            $('.slider')._TMS({
                show: 0,
                pauseOnHover: false,
                prevBu: '.prev',
                nextBu: '.next',
                playBu: false,
                duration: 800,
                preset: 'fade',
                pagination: true, //'.pagination',true,'<ul></ul>'
                pagNums: false,
                slideshow: 8000,
                numStatus: false,
                banners: true,
                waitBannerAnimation: false,
                progressBar: false
            })
        });
        $(window).load(function () {
            $('.carousel1').carouFredSel({
                auto: false,
                prev: '.prev',
                next: '.next',
                width: 960,
                items: {
                    visible: {
                        min: 3,
                        max: 3
                    },
                    height: 'auto',
                    width: 300,
                },
                responsive: true,
                scroll: 1,
                mousewheel: false,
                swipe: {
                    onMouse: true,
                    onTouch: true
                }
            });
        });
        jQuery(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
</head>
<body>
   

    <header>
        <a style="float: right; margin-right: 145px; margin-bottom:5px" asp-area="Identity" asp-page="/Account/Register" method="post" class="button3">Register</a>
        <a style="float: right;  margin-bottom:5px" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="get" class="button3">Log in</a>
        <a style="float: right;  margin-bottom:5px" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" class="button3">Logout</a>

        <div class="container_12">
            <div class="grid_12">
                <h1><a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt=""></a> </h1>
                <div class="menu_block">
                    <nav>
                        <ul class="sf-menu">
                            <li class="current"><a asp-controller="Home" asp-action="Index">Home</a></li>
                            <li class="with_ul">
                                <a href="about-us.html">About Us</a>
                                <ul>
                                    <li><a href="#">Testimonials</a></li>
                                    <li><a href="#">Archive</a></li>
                                </ul>
                            </li>
                            <li><a href="services.html">Services</a></li>
                            <li><a href="blog.html">Blog</a></li>
                            <li><a href="contacts.html">Contacts </a></li>
                            <li><a asp-controller="Dog" asp-action="Add">Add Dog</a></li>


                        </ul>
                    </nav>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>
        </div>
    </header>


    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container_12">
            <div class="grid_12">
                <div class="socials"> <a href="#"></a> <a href="#"></a> <a href="#"></a> <a href="#"></a> </div>
                <p>Pet Club &copy; 2045 | <a href="#">Privacy Policy</a> | Design by: <a href="http://www.templatemonster.com/">TemplateMonster.com</a></p>
            </div>
            <div class="clear"></div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <style>
        a.button3 {
             display: inline-block;
             padding: 0.3em 1.2em;
             margin: 0 0.3em 0.3em 0;
             border-radius: 2em;
             box-sizing: border-box;
             text-decoration: none;
             font-family: 'Roboto',sans-serif;
             font-weight: 300;
             color: #FFFFFF;
             background-color: #4eb5f1;
             text-align: center;
             transition: all 0.2s;
        }

            a.button3:hover {
                 background-color: #4095c6;
            }

        @@media all and (max-width:30em) {
             a.button3 {
                  display: block;
                  margin: 0.2em auto;

            }
        }
    </style>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
