@model AllAnimalsQueryModel
<div style="margin-left: 35%; margin-right: 25%; margin-bottom: 16%; width: 30%; height:5px">
        <form method="get" style="display:inline-block;">
            <div class="form-group row-sm-2" style="display: inline-block;border: solid black 1px">
                <label style="color: black" asp-for="SearchTerm"></label>
                <input asp-for="SearchTerm" class="form-control" placeholder="Bobo" style="color: black">
            </div>

            <div class="form-group row-sm-2 ml-30" style="display: inline-block; border: solid black 1px;">
                <div class="form-group" >
                    <label style="color: black" asp-for="Sorting"></label>
                    <select asp-for="Sorting" class="form-control" style="color:black">
                        <option value="0" selected>Name</option>
                        <option value="1">Age</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
